* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #aa3ac0;
}
header {
    background-color: #333;
    color: #aa3ac0;
    text-align: center;
    padding: 20px 0;
    font-size: 45px;
}

header img {
    border-radius: 50%;
    border-color: black;
    width: 150px;
    height: 150px;
}

header h1 {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 10px 0;
    display: flex; 
    justify-content: center; 
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
    font-size: 35px;
}

nav ul li a:hover {
    color: #f7de04;
}
#work li a {
    display: inline-block;
    text-decoration: none;
    color: #333;
}

#work li img {
    width: 100px; 
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

@media (max-width: 768px) {
    header img {
        width: 100px;
        height: 100px;
    }

    header h1 {
        font-size: 24px;
    }

    section {
        padding: 30px 10px;
    }
}

